
.card_container_1 {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 20vw;
    background-color: #fff;
    border-radius: 1rem;
}

.card_container_1_header {
    display: flex;
    margin-left: 1rem;
}
.card_container_1_subheader {
    display: flex;
    margin-left: 1rem;
    gap: 1rem;   
}

.card_container_1_body {
    display: flex;
    justify-content: space-around;

}

.weather_img_container img {
    width: 10rem;
    height: 10rem;
}

.temp_text h1 {
    font-size: 4rem ;
}